

nav {
  background-color: rgb(3, 3, 3);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  font-style: normal;
  box-shadow: 2px 2px 4px;
  box-decoration-break: slice;
  border: 5px solid #841ca4;
}
.list {
  box-shadow: 4px 2px 4px;
  border: 2px cornsilk;
}

a {
  text-transform: capitalize;
  text-decoration: rgb(231, 234, 237);
}

.box {
  background-color:rgb(61, 57, 54)
  width: 100px;
  padding: 20px;
  text-align: center;
  box-shadow: 2px 4px 2px rgb(5, 15, 18);
  border-radius: 2px;
  margin-block-end: 50px;
  border: 5px solid #841ca4;
}

.box1 {
  display: flex;

}

.flex {
  background-color: rgb(30, 210, 210);
  width: 15lvh;
  display: flex;
  justify-content: space-evenly;
  flex-direction: calc();
  border: 2px solid #000000;
  box-shadow: 4px 3px 2px;
  flex-direction: calc();
}

.flex > div {
  background-color: rgb(77, 187, 255);
  margin: 0px;
  padding: 20px;
  font-size: 30px;
}

.top-sale {
  width: 30px;
  text-transform: capitalize;
  text-align: var(#841ca4);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  justify-content: space-evenly;
  box-shadow: 4px 2px 2px;
}
.best {
  border: solid black;
  box-shadow: 4px 2px 4px;
  justify-content: space-evenly;
  margin-right: 50px;
}

.things {
  background-color: rgb(93, 93, 215);
  padding: 20px;
  text-transform: capitalize;
  font-family: "Times New Roman", Times, serif;
  text-align: left;
  text-transform: capitalize;
  text-decoration: dashed;
}
.jeans {
  margin-left: 20px;
  text-align: center;
  text-decoration: underline;
}

.text-format {
  text-align: left;
  justify-content: space-evenly;
  display: flex;
  background-color: rgb(145, 127, 168);
  border: solid rgb(20, 19, 19);
}
.text-format > div {
  margin: 10px;
  border: solid black;
  box-shadow: 4px 2px 4px;
  background-color: rgb(218, 155, 134);
  box-sizing: content-box;
}
.h3 {
  text-align: end;
  width: fit-content;
  text-decoration: dotted;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 2px;
}
.para{
  font-family: 'Times New Roman', Times, serif;
  text-align: justify;
}
.online{
  text-transform: capitalize;
text-shadow: 4px 2px 4px;
  text-decoration: solid;
}